
.icon-spin6:before { content: '\e831'; } /* '' */
.icon-heart:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e832'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-instagramm:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e833'; } /* '' */